/* GENERAL {{{ */

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-family-monospace: San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    --font-weight-normal: 400;
    --font-weight-bold: 500;

    --color-bg: #ffffff;
    --color-text: #000000;
    --color-link: #0000ff;
    --color-link-hover: #00008b;
    --color-code-bg: #f4f4f4;
    --color-rule: #808080;
    --color-aside: #333333;
    --color-aside-brackets: #aaaaaa;
    --color-blockquote-bg: #eaf2fd;
    --color-blockquote-border: #6c98ce;
    --color-nav: #000000;
    --color-nav-hover: #808080;
    --color-footer: #444444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-normal: 300;
    --font-weight-bold: 400;

    --color-bg: #111111;
    --color-text: #ffffff;
    --color-link: #00aaff;
    --color-link-hover: #00ccff;
    --color-code-bg: #222222;
    --color-rule: #808080;
    --color-aside: #bbbbbb;
    --color-aside-brackets: #666666;
    --color-blockquote-bg: #25354d;
    --color-blockquote-border: #53749b;
    --color-nav: #ffffff;
    --color-nav-hover: #808080;
    --color-footer: #bbbbbb;
  }
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-width: 20rem;
}

body {
    background: var(--color-bg);
    color: var(--color-text);

    font-family: var(--font-family-sans-serif);
    font-weight: var(--font-weight-normal);
    line-height: 1.4;

    display: flex;
    flex-flow: column nowrap;

    max-width: 50rem;
    min-height: 100%;
    margin: auto;
    padding: 0 2rem;
}

main {
  flex-grow: 1;
  flex-shrink: 0;

  margin: 2rem 0;
}

main > :first-child {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: var(--font-weight-bold);
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: var(--color-link);
    text-decoration: none;
    border-bottom: dotted var(--color-link) 1px;
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: none;
    border-bottom-color: var(--color-link-hover);
    border-bottom-style: solid;
}

img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
    width: auto;
}

code, pre {
    background: var(--color-code-bg);
}

code {
    font-family: var(--font-family-monospace);
    border-radius: 0.25rem;
    padding: 0 0.15rem;
}

pre {
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
}

pre code {
    background: inherit;
    border-radius: unset;
    display: block;
    overflow: auto;
    padding: 0.5rem 0;
}

hr {
    margin: 3rem auto;
    width: 25%;
    border: none;
    border-top: 1px var(--color-rule) solid;
}

aside {
    color: var(--color-aside);
    position: relative;
    padding: 0.375rem 1rem;
}

aside:before, aside:after {
    border: 0.125rem solid var(--color-aside-brackets);
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.5rem;
}

aside:before {
    border-right: none;
    left: 0.25rem;
}

aside:after {
    border-left: none;
    right: 0.25rem;
}

blockquote {
    background-color: var(--color-blockquote-bg);
    border-left: 0.5rem solid var(--color-blockquote-border);
    padding: 0.5rem;
    margin-left: 0.5rem;
    width: calc(100% - 0.5rem);
}

aside > :first-child, blockquote > :first-child {
    margin-top: 0;
}

aside > :last-child, blockquote > :last-child {
    margin-bottom: 0;
}

.block-center {
    display: block;
    margin: auto;
}

.text-center {
    text-align: center;
}

.last-updated {
    font-style: italic;
    margin-top: 2rem;
}

/* }}} END GENERAL */

/* HEADER {{{ */

#skip-to-main {
    display: block;
    width: 10rem;
    position: fixed;
    top: 0.5rem;
    left: -15rem;
    z-index: 1;
    text-align: center;
    background: var(--color-bg);
}

#skip-to-main:focus {
    left: calc(50% - 5rem);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    border-bottom: solid var(--color-rule) 1px;

    flex-grow: 0;
    flex-shrink: 0;
}

header nav {
    flex-shrink: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 1rem 0.5rem;
}

header nav ul li:last-of-type {
    margin-right: 0;
}

header nav a {
    color: var(--color-nav);
    border: none;
}

header nav a:hover {
    color: var(--color-nav-hover);
    border: none;
}

#logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#logo-img {
    height: 2rem;
    width: 2rem;
}

#logo-txt {
    font-family: var(--font-family-sans-serif);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    margin-left: 0.5rem;
}

@media only screen and (max-width: 32rem) {
    header {
        flex-flow: column;
    }

    header nav {
        margin-top: 0.5rem;
    }

    header nav ul li:last-of-type {
        margin-right: 0.5rem;
    }
}

/* }}} END HEADER */

/* FOOTER {{{ */

footer {
    color: var(--color-footer);
    font-size: 0.8rem;
    text-align: center;

    flex-grow: 0;
    flex-shrink: 0;

    border-top: solid var(--color-rule) 1px;
    padding: 0.5rem 0;
}

/* }}} END FOOTER */

/* BOOKS {{{ */

.book-list li {
  padding-inline-start: 0.5rem;
}

.book-great {
  list-style-type: "🙌";
}

.book-good {
  list-style-type: "👍";
}

.book-okay {
  list-style-type: "🤷";
}

.book-bad {
  list-style-type: "👎";
}

/* }}} END BOOKS */

/* vim: set fdm=marker: */
