<header>
  <div id="logo">
    <img id="logo-img" src="/images/logo.png" alt=""/>
    <span id="logo-txt">Jason Cox</span>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/" {{ if .IsHome }} class="active" {{ end }}>
          Home
        </a>
      </li>
      <li>
        <a href="/creations" {{ if eq .Type "creations" }} class="active" {{ end }}>
          Creations
        </a>
      </li>
      <li>
        <a href="/books" {{ if eq .Type "books" }} class="active" {{ end }}>
          Books
        </a>
      </li>
      <li>
        <a href="/blog" {{ if eq .Type "blog" }} class="active" {{ end }}>
          Blog
        </a>
      </li>
      <li>
        <a href="/research" {{ if eq .Type "research" }} class="active" {{ end }}>
          Research
        </a>
      </li>
      <li>
        <a href="/cv" {{ if eq .RelPermalink "/cv/" }} class="active" {{ end }}>
          CV
        </a>
      </li>
    </ul>
  </nav>
</header>
