{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <div id="research-info">
    <img
      alt=""
      id="research-info-img"
      src="/images/headshot-square.png"
    >
    <div id="research-info-txt">
      <p>
        <strong>Jason Cox</strong><br>
        Ph.D. Student<br>
        School of Computer Science<br>
        Georgia Institute of Technology
      </p>
      <p><a href="mailto:jcox99@gatech.edu">jcox99@gatech.edu</a></p>
    </div>
  </div>

  {{ .Content }}

  {{ $current_projects := where .Pages "Params.project_end_date" "==" nil }}
  {{ $past_projects := where .Pages "Params.project_end_date" "!=" nil }}
  {{
     with (
        sort $current_projects "Params.project_start_date" "desc"
        | append (
          sort $past_projects "Params.project_end_date" "desc"
        )
     )
  }}
    <h2>Projects</h2>
    <ul class="research-project-list">
      {{ range . }}
        {{ $start_date := dateFormat "Jan 2006" .Params.project_start_date }}
        {{ $end_date := "Present" }}
        {{ if .Params.project_end_date }}
          {{ $end_date = dateFormat "Jan 2006" .Params.project_end_date }}
        {{ end }}

        <li>
          <p>
            {{ if not (eq .Content .Summary) }}
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ else }}
              <strong>{{ .Title }}</strong>
            {{ end }}
            ({{ $start_date }} - {{ $end_date }}):
            <span>{{ .Render "summary" }}</span>
          </p>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ define "page-styles" }}
  <style>
    #research-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    #research-info > * {
      margin: 0.5rem;
    }

    #research-info-img {
      border-radius: 0.25rem;
      height: 10rem;
      width: 10rem;
    }
  </style>
{{ end }}
